
<mat-toolbar color="primary">
  <button mat-icon-button [routerLink]="['/cards']" queryParamsHandling="preserve">
    <mat-icon>arrow_back</mat-icon>
  </button>
</mat-toolbar>


<div *ngIf="card" class="container full-description bad">
  <header>
      <div class="full-description-header-column">

          Supertype: {{card?.supertype}}<br />
          Types: {{card?.types}}<br />
          National Pokédex Number: {{card?.nationalPokedexNumber}}
      </div>

      <div class="full-description-avatar avatar"
          [style.background-image]="getImage(card?.imageUrl)">
      </div>

      <div class="full-description-header-column">


      Subtype: {{card?.subtype}}<br/>
      Rarity: {{card?.rarity}}<br/>
      Number: {{card?.number}}<br/>
      HP: {{card?.hp}}
      </div>
  </header>

  <h2>{{card?.name}}</h2>
</div>
