<!-- Formulaire géré par le template -->
<!-- we use a local variable #tradingForm -->
<!-- and give its value to the register method -->
<!-- <form (ngSubmit)="handleForm()" #tradingForm="ngForm">
  <h3 mat-dialog-title>New trading</h3>
  <div class="form-container">
    <mat-form-field class="trading-input">
      <mat-label>Card 1</mat-label>
      <input matInput name="card1" type="text" [(ngModel)]="trading.card1" required minlength="3" maxlength="50" #spy #card1="ngModel">
      <mat-error *ngIf="card1.dirty && card1.hasError('required')">
        Card 1 is required
      </mat-error>
      <mat-error *ngIf="card1.dirty && card1.hasError('minlength')">
        Card 1 should be 3 characters min
      </mat-error>
    </mat-form-field>
    {{ spy.className }}
    <mat-form-field class="trading-input">
      <mat-label>Card 2</mat-label>
      <input matInput type="text" name="card2" [(ngModel)]="trading.card2" required minlength="3">
    </mat-form-field>
  </div>
  <div>
    <button [disabled]="tradingForm.invalid" type="submit" mat-raised-button color="primary">Save</button>
  </div>
</form> -->

<!-- Formulaire géré par le code -->
<form (ngSubmit)="handleForm()" [formGroup]="tradingForm">
  <h3 mat-dialog-title>New trading</h3>
  <div class="form-container">
    <mat-form-field class="trading-input">
      <mat-label>Card 1</mat-label>
      <input matInput formControlName="card1" id="card1" type="text">
      <mat-error *ngIf="card1Control.dirty && card1Control.hasError('required')">
        Card 1 is required
      </mat-error>
      <mat-error *ngIf="card1Control.dirty && card1Control.hasError('minlength')">
        Card 1 should be 3 characters min
      </mat-error>
    </mat-form-field>
    <mat-form-field class="trading-input">
      <mat-label>Card 2</mat-label>
      <input matInput formControlName="card2" id="card2" type="text">
      <mat-error *ngIf="card2Control.dirty && card2Control.hasError('invalidCard')">
        This card doesn't exist
      </mat-error>
    </mat-form-field>
    <mat-form-field class="trading-input">
      <mat-label>Date</mat-label>
      <input matInput formControlName="date" id="date" type="date">
      <mat-error *ngIf="dateControl.dirty && dateControl.hasError('invalidDate')">
        The date should be today or greater
      </mat-error>
    </mat-form-field>
    <h3>Trader:</h3>
      <mat-radio-group formControlName="gender">
        <mat-radio-button value="mr">Mr</mat-radio-button> &nbsp;
        <mat-radio-button value="ms">Mrs</mat-radio-button>
      </mat-radio-group>
      <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" id="name" type="text">
          <mat-error *ngIf="nameControl.dirty && nameControl.hasError('required')">
            Name is required
          </mat-error>
      </mat-form-field>
    <app-cards-trading-address-field [parentForm]="tradingForm"></app-cards-trading-address-field>
  </div>
  <div>
    <button [disabled]="tradingForm.invalid" mat-raised-button color="primary">Save</button>
  </div>
</form>

