<mat-grid-list cols="4" rowHeight="20em">
  <mat-grid-tile colspan="1">

  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>About</h3>
        </mat-card-title>
        <mat-card-subtitle>Angular training application</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          This application was made for the training of the 24-25/01/2019
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
