<mat-toolbar color="primary">
  <a [routerLink]="['/cards']" routerLinkActive="selected-menu" #route="routerLinkActive">
    Cards Exchange Platform {{ route.isActive ? '(here)' : '' }}
  </a>
  <span class="spacer"></span>
  <button mat-icon-button [routerLink]="['/cards', 'trading', 'new']" >
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
