<mat-grid-list cols="4" rowHeight="5em">

  <mat-grid-tile>
    <!-- EXERCICE 03 -->
    <!-- Faire un bouton "switch" relié à une variable "currentLayout" permettant de changer la vue des cartes -->
    <!-- Options du switch : table ou list -->
    <!-- Astuce: vous pouvez utiliser le composant Angular Material: mat-radio-group/mat-radio-button -->
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <!-- Query Parameters via template -->
      <!-- <mat-select placeholder="Sort">
            <mat-option value="asc" [routerLink]="['/cards']" [queryParams]="{order: 'asc' }">
              Ascending
            </mat-option>
            <mat-option value="desc" [routerLink]="['/cards']" [queryParams]="{order: 'desc' }">
              Descending
            </mat-option>
          </mat-select> -->

      <!-- Query Parameters via code -->
      <mat-select placeholder="Sort" [(ngModel)]="sortOrder">
        <mat-option value="asc"> Ascending </mat-option>
        <mat-option value="desc"> Descending </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile> <h2>Cards list</h2> </mat-grid-tile>
  <mat-grid-tile>
    <button mat-button [color]="'primary'" (click)="downloadRulebook()">Download the rulesbook</button>
  </mat-grid-tile>
</mat-grid-list>

<!-- SWITCH ON LAYOUT -->
<!-- EXERCICE 03 -->
<!-- Faire une table HTML affichant toutes les cartes -->
<!-- Afficher ce tableau seulement grâce à un switch sur une variable 'currentLayout' contrôlant le mode d'affichage -->
<!-- (table ou list) -->
<div>

  <!-- HTML TABLE -->

  <mat-grid-list class="cards-list" cols="5" rowHeight="18em" gutterSize="15px">
    <!-- Navigation dans template -->
      <!-- <mat-grid-tile *ngFor="let card of cards" [routerLink]="[card.id]"> -->
    <!-- Navigation dans le code -->
      <!-- EXERCICE 01 : directive-ngClass -->
      <!-- utiliser la classe CSS “shadow” -->
    <mat-grid-tile *ngFor="let card of cards" (click)="openCardDetails(card)">
      <app-card-summary [card]="card" (cardClicked)="openCardDetails(card)"></app-card-summary>
    </mat-grid-tile>
  </mat-grid-list>
</div>
